/* élement principaux de la page */
@font-face
{
    font-family: 'Raleway';
    src: url('Raleway/Raleway-Regular.ttf');
    src: url('Raleway/Raleway-Regular.svg'),
         url('Raleway/Raleway-Regular.eot'),
         url('Raleway/Raleway-Regular.woff'),
         url('Raleway/Raleway-Regular.woff2');
    font-weight: normal;
    font-style:normal;
}


body
{
    background-color: #ffffff;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-size: medium;
    width:100%;    
    margin:auto;    
}

*
{
    box-sizing: border-box;
}

/* En-tête */

ul.menu
{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items:stretch;
    margin:0 10px 0 10px;
    padding:0;
    list-style:none;
}
li.logo
{
    padding:10px;
    height:130px;
    flex: 1 0 140px;
    line-height:150px;
}
li.logo img
{
    height:55px;
}
header li:not(.logo)
{
    display:block;
    margin:0 10px;
    line-height: 80px;
    border-top:2px solid transparent;
    padding:20px;
}
li.active
{
    border-top: 2px solid #0065FC !important;
    
}
nav a
{
    text-decoration: none;
}
.inscription a
{
    color:#0065FC !important;
    font-weight:bold;    
       
}
a:visited 
{
    text-decoration: none;
    color: #000000;
}

/*Section 1*/

.section1
{
    width: 96%;
    margin:0 2% 15px 2%;
}
h1
{
    font-weight:bold;
    font-size: large;
}

.legende
{
    font-size:small;
}

.search
{
    border:none;
    font-size:medium;
    font-weight:bold;    
    outline:none;
    height:100%;
    background-color:#ffffff;
}
.formsearch
{
    display:block;
    border-top:2px #f2f2f2 solid;      
    border-bottom:2px #f2f2f2 solid; 
    height:50px;
    width:max-content;
    border-radius: 15px;
}
.loupe
{
    display:none;
}
.search::placeholder
{
    color:black;
}

.bouton
{
    background-color: #0065FC;
    color:#ffffff;    
    height:100%;
    font-size:medium;
    font-weight:bold;
    border:1px #0065FC solid;
    border-radius:0 15px 15px 0;
    outline:none;
    cursor: pointer;
    padding: 10px;
}
#locale
{
    background-color: #F2F2F2;
    padding:15px;
    border-radius:15px 0 0 15px;
    margin-right:15px;
}

.filtres
{    
    display:flex;   
    flex-wrap: wrap;
                   
}
.filtres p
{
    margin-top:40px;
    font-size:medium;
    font-weight:bold;    
}
.filtres ul
{
    display: flex;    
    flex-wrap:wrap;
}
.filtres li
{
    display:flex;
    font-weight:bold;
    border: 2px #d9d9d9 solid;
    border-radius: 50px;
    align-items:center;
    padding-right:15px;
    cursor: pointer;
    margin-right:30px;
    margin-top: 15px;
    height:40px;
}
.filtres li:first-child
{
    justify-self:start;    
}
.filtres li:last-child
{
    justify-self:center;
}
.filtres i
{
    display:block;
    height: 40px;
    width:40px;
    Margin-right:5px;    
    color: #0065FC;
    border-radius:100%;
    padding:10px;
    background-color:#deebff;
    position: relative;    
    left:-2px;
}
.filtres li:hover, .filtres li:focus
{
    color: #0065FC;
    background-color: #DEEBFF;
}
.info
{
    display:flex;    
}
.info p
{
    font-size:small;
}
.info i
{
    color: #0065FC;
    border-radius: 100%;
    border: 2px #DEEBFF solid;
    padding: 4px 8px 5px 8px;
    margin-right: 5px;
    display: block;
    height: 25px;
    width: 25px;
    margin-top: 10px;
}

/*Section 2 et 3 */

.s2s3
{
    display: flex;
    margin:auto;
    width:96%; 
    justify-content:space-between;  
}

/* Section 2 */
.section2
{
    display:block;  
    background-color: #F2F2F2;
    border-radius:20px; 
    width:60%;   
}
.figheb
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
}

h2
{
    font-weight:bold;
    font-size: large;  
    
}

.domaine
{
    font-size: medium !important;
    font-weight: bold !important;
    padding-top:20px;
}

.section2 figcaption
{
    font-size:small;
    line-height: 20px;
    position:absolute;       
    background-color:#ffffff; 
    box-sizing: border-box;
    width: 100%;    
    height:40%;
    padding:10px;
    border-radius: 0 0 20px 20px;
}
.section2 i
{
    color: #0065FC;
}

.vide i
{
    color:#d9d9d9 !important;
}

.section2 figure img
{ 
    height:60%;
    width:100%;
    border-radius: 20px 20px 0 0; 
    object-fit:cover; 
    box-sizing: border-box; 
    
}
.section2 figure
{
    position:relative; 
    margin:15px;
    display:block;
    width:250px;
    height:200px;    
    border-radius: 20px;
    border:4px #F2F2F2 solid;
    -webkit-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    -moz-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
}  
.afficher
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
    display:block;
    margin:30px 0 80px 20px;    
}
.section2 a:hover
{
    color:#0065FC;    
}
.section2 a
{
    color:black;

}

/* Section 3 */
.h3
{
    display:flex;
    flex-wrap:nowrap; 
    flex-direction: row;      
    justify-content:space-between;
}
h3
{
    font-weight:bold;
    font-size: large;                 
}
#graph
{
    margin-top:20px;
    margin-right:45px;    
}
.domaine2
{
    font-size: medium !important;
    font-weight: bold !important;
    padding-top:20px;
}

.section3
{  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display:block;  
    background-color: #F2F2F2;
    border-radius:20px;    
    width:35%;    
}   
.section3 figure
{
    margin:0;
}
.section3 figure img
{
    width:40%;
    height:100%;
    border-radius: 20px 0 0 20px; 
    object-fit:cover;  
}
.section3 figcaption
{
    display: flex;   
    font-size:small;
    line-height: auto;
    position:absolute;
    flex-wrap: wrap;
    left:40%;
    bottom:0; 
    line-height: 20px; 
    background-color:#ffffff; 
    box-sizing: border-box;
    width: 60%;    
    height:100%;
    padding:15px;
    border-radius: 0 20px 20px 0;
}
.section3 figcaption:first-child
{
    width:100%;
    /* peut être supprimer? */
}
.section3 figure
{
    position:relative;    
    display:block;
    border-radius: 20px;
    width:350px;
    height:145px;
    border:4px #F2F2F2 solid;
    -webkit-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    -moz-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
}

.section3 .stars i
{
    color: #0065FC;        
}
.section3 .stars
{
    align-self:flex-end;
}

.section3 a:hover
{
    color:#0065FC;    
}
.section3 a
{
    color:black;
}

/* Section 4 */

.section4
{
    width:96%;
    margin:auto;
    margin-bottom:80px;
}
h4
{
    margin:45px 0 20px 10px;
    font-size:large;
    font-weight: bold;
}

.figure
{
    display:grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 211.5px);
    grid-column-gap:2%; 
    align-items:stretch;  
}
.image1
{
    grid-row-start:1;
    grid-row-end:2;
}
.image2
{
    grid-row:1;
    grid-column: 2;
}
.image3
{
    grid-row:2;
    grid-column: 2;
    margin-top:32px;
    padding-top:37px;
}

.image4
{
    grid-row-start:1;
    grid-row-end:2;
}
.image5
{
    grid-row: 1;
    grid-column: 4;    
}
.image6
{
    grid-row: 2;
    grid-column: 4;   
    margin-top:24px;
}
.figure figure
{
    margin:0;
    position:relative;    
    width:100%;             
    border-radius: 20px;    
    -webkit-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    -moz-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
}

.figure img
{
    border-radius:20px 20px 0 0;    
}
.figure a
{
    text-decoration: none;
    color:black;
    font-size: medium;
    font-weight: bold;     
}

.figure a:hover
{
    color:#0065FC;    
}
.image1 figure, .image4 figure
{
    height:444px;
}
.image1 img, .image4 img
{
    width:100%;     
    display: block;
    height:85%;
    object-fit: cover;    
}
.image1 figcaption, .image4 figcaption
{
    line-height: 20px;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    max-width: 100%;
    height: 15%;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}
.image2 figure
{
    height:240px;
}
.image2 img
{
    width:100%;      
    display: block;
    height:75%;
    object-fit: cover;
}
.image2 figcaption
{
    line-height: 20px;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}
.image3 figure
{
    height:165px;
}
.image3 img
{
    width:100%;     
    display: block;
    height:70%;
    object-fit:cover;    
}
.image3 figcaption
{
    line-height: 20px;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    padding: 15px;
    border-radius: 0 0 20px 20px;
}
.image5 figure
{
    height:195px;
}
.image5 img
{
    width:100%;     
    display: block;
    height:70%;
    object-fit:cover;
}
.image5 figcaption
{
    line-height: 20px;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    padding: 15px;
    border-radius: 0 0 20px 20px;
}
.image6 figure
{
    height:210px;
}
.image6 img
{
    width:100%;      
    display: block;
    height:70%;
    object-fit:cover;
}
.image6 figcaption
{
    line-height: 20px;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 30%;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

/*footer*/

footer 
{
    display: flex;
    flex-wrap: wrap;   
    width:100%;
    background-color: #F2F2F2;
    padding:40px;       
}
footer div
{
    display: flex;
    flex-direction: column;     
}

footer a
{
    color:black;
    text-decoration: none;
    font-size: medium;
}
footer ul
{
    padding:0;
}
footer li
{
    list-style:none;
    margin-bottom:10px;
}
.title
{
    font-weight: bold;   
    margin:0;
}
footer a:hover
{
    color:#0065FC;
}   

/*Responsive*/
@media all and (max-device-width:1600px)
{
/*section2*/

.section2 a
{
    width:250px;
    max-width:100%;
    display:flex;
    flex-grow:1;
}   
.section2 figure
{
    flex-grow:1;
} 
.section2
{
    padding:3%;
    width:65%;
}
h2
{
    margin-left:20px;
    margin-bottom:0;
    margin-top:0;
}
.afficher
{
    margin-bottom:0;
    margin-top:40px;
}

/*section3*/
.section3
{
    padding:3%;
    display:flex;
    width:30%;
}
.h3
{
    margin-top:0;
}
h3
{
    margin-top:0;
}
#graph
{
    margin-top:0;
    margin-right:0;
}
.section3 a
{
    width:500px;
    display:flex;
    max-width:100%;
    flex-grow:1;
    height:145px;
    max-height:100%;
    margin-bottom:10%;
}
.section3 figure
{
    height:145px;
    max-height:100%;
    display:flex;
    flex-grow:1;
}
/*footer*/
footer div
{
    margin-right: 10%;
}
}

@media all and (max-device-width:1024px)
{
/*en-tête*/
.filtres p
{
    margin:25px 20px 0 0;   

}
.filtres
{
    margin-top:20px;
}

/*section1*/

h1
{
    margin-top:20px;
}
.legende
{
    margin-bottom:20px;
}
.section1 ul
{
    padding:0;
    margin-top:0;
}
.info
{
    margin-bottom:20px;
}

/*section2*/
h2
{
    margin-left:30px;
    margin-top:40px;
}
.figheb
{
    width: 100%;
    margin:auto;
    justify-content:space-around;
}
.section2 figure
{
    margin-bottom:20px;
    border:#ffffff;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;       
    width:300px;   
}
.section2
{
    background-color:#ffffff;
    width:100%;    
    order:2;
    display:flex;
    flex-direction:column;
}
.section2 figcaption
{
    position:relative;
}
.section2 a
{
    text-decoration: none;
}
.afficher
{
    margin-bottom:30px;
}
/*section3*/
h3
{
    
    margin-bottom:20px;
}
.section3 figure
{
    width:90%;
    margin:auto;  
    border:0;
    margin-bottom:20px;  
}
.section3
{
    width:100%;
    border-radius:0; 
    order:1;
    padding-bottom:20px;   
    padding:5%;
}
.section3 figcaption
{
    display:block;    
}
.section3 a
{
    width:100%;
    margin-bottom:5%;
}
.section3 figure img
{
    object-position:20% 70%;    
}
/*section2et3*/
.s2s3
{
    flex-direction: column; 
    width:100%;
    margin:0;
}

/*section4*/
h4
{
    margin-left:40px;
}
.section4
{
    width:100%;    
     display:flex;
    flex-direction:column;
}
.figure img
{
    height:130px;
    object-fit: cover;
    width: 300px;   
}
.figure figure
{
    width:300px;
    margin-bottom:30px;
}
.figure
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


}
@media all and (max-device-width:768px)
{

/*section1*/
.section1
{
    width:96%;
    margin:auto;    
}
h1
{
    margin-top:20px;
}
.legende
{
    margin-bottom:20px;
}
.section1 ul
{
    padding:0;
    margin-top:0;
}
.info
{
    margin-bottom:20px;
}

/*section2*/
h2
{
    margin-left:30px;
    margin-top:40px;
}
.figheb
{
    width: 100%;
    margin:auto;    
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;    
    
}
.figheb figure
{
    margin-bottom:20px;
    border:#ffffff;
    width:300px;   

}
.section2
{
    background-color:#ffffff;
    width:100%;    
    order:2;
    display:flex;
    flex-direction:column;
}
.section2 figcaption
{
    position:relative;
}
.section2 a
{
    text-decoration: none;
}
.afficher
{
    margin-bottom:30px;
}
.section2
{
    padding:0;
}
/*section3*/
h3
{
    margin-left:0px;
    margin-bottom:20px;
}
.section3 figure
{
    width:90%;
    margin:auto;  
    border:0;
    margin-bottom:20px;  
}
.section3
{
    width:100%;
    border-radius:0; 
    order:1;
    padding-bottom:20px;  
    padding:5%; 
}
.section3 figcaption
{
    display:block;
}

/*section2et3*/
.s2s3
{
    flex-direction: column; 
    width:100%;
    margin:0;
}

/*section4*/

h4
{
    margin-left:40px;
}
.figure a
{
    margin:0;    
}
.figure img
{
    height:70%;
    object-fit: cover;
    width: 300px;   
}
.figure figure
{
    width:300px;
    margin-bottom:30px;
    height:220px;

}
.figure
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
    justify-content:space-around;
}
.figure figcaption
{
    height:30%;
    padding:20px;
}
.section4
{
    width:100%;    
    display:flex;
    flex-direction:column;
    margin-bottom:30px;
}
.image3
{
    padding-top:0;
}

/*pied de page*/
footer
{
    flex-direction:column;  
    padding:50px;  
    padding-left:20px;
}
footer div
{
    margin:0 0 10px 0;
}

}

@media all  and (max-device-width: 659px)
{
 /*section2*/
h2
{
    margin-top:40px;
    align-self: start;
    margin-bottom:30px;
    margin-left:0;
}
.section2 figure
{
    width:90%;
    margin:auto;
    margin-bottom:30px;
    border:#ffffff;
}
.section2
{
    background-color:#ffffff;
    width:100%;
    order:2;
    padding:5%;
}
.section2 a
{
    width:100%;
}
.afficher
{
    align-self: start;   
    margin-top:0;
    margin-left:0;
}
.figheb
{
    display:block;
}
.section2 figure img
{
    object-position: 20% 60%;
}
}


@media all and (min-device-width: 481px) and (max-device-width: 599px)
{
    h4
{
    margin-left:25px;

}
.section4 figcaption
{
    height:30%;
    padding:20px;
}

.figure figure img
{
    height:70%;
    object-fit: cover;  
    width: 100%;   
}
.figure figure
{
    width:90%;
    margin: auto;
    margin-bottom:30px;
    height:220px;
}
.figure
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;     
}
.image3, .image6
{
    margin:auto;
    width:100%;
}

.section4
{
    width:100%;    
    display:flex;
    flex-direction:column;
}
.image3
{
    padding-top:0;
}
}

@media all and (max-device-width: 592px)
{ 
body
{
    display:flex;    
    flex-direction:column; 
    flex-wrap:wrap;    
}

/*en-tête*/
ul.menu
{
    margin: 0;
}
li.menu
{
    margin:15px;
}
li.logo
{
    line-height: 0;
    height: 60px;
    margin-bottom:0;
}
li.logo img
{
    height:100%;
}
header li.inscription
{
    order:0;
    height:70px;
    line-height:50px;
}

header li.activite
{
    width:50%;
    order:2;
    margin:0;
    text-align:center;
    border-bottom:2px solid lightgray;
    height:70px;
    margin-bottom:20px;
    padding-top:0;
}
header li:not(.logo)
{ 
border-top: 2px solid transparent !important;
padding-bottom:0;
}
header li.active
{
    border-bottom:2px solid #0065FC;
    width:50%;
    order:1;
    margin:0;
    text-align:center;
    height:70px;
    margin-bottom:20px;  
    padding-top:0;  
}

/*section1*/
.section1
{
    width:96%;
    margin:auto;
}
.loupe
{
    display:inline;
    background-color: #0065FC;
    color:#ffffff;
    padding:10px;
    font-size:medium;
    font-weight:bold;
    border:1px #0065FC solid;
    border-radius:15px;
    outline:none;
    cursor: pointer;
    height:100%;
    width: 45px;
}
.bouton
{ 
    display:none;
}
.filtres ul
{
    padding-inline-start:0;
    margin-top:0;
}
.filtres p
{
    margin-bottom: 0;
}


/*section2*/
h2
{
    margin-left:0;
    margin-top:40px;
    align-self: start;
    margin-bottom:20px;
}
.section2 figure
{
    width:90%;
    margin:auto;    
    margin-bottom:30px;
    border:#ffffff;
}
.section2
{
    background-color:#ffffff;
    width:100%;
    align-items: center;
    justify-content: center;
    order:2;
    padding:5%;    
}
.section2 a
{
    width:100%;
}
.afficher
{
    align-self: start;
    margin-left:10px;
    margin-top:0;
}
.figheb
{
    display:block;
}
/*section3*/
h3
{
    margin-left:0;
}
.section3 figure
{
    width:90%;
    margin:auto;  
    border:0;
    margin-bottom:20px;  
}
.section3
{
    width:100%;
    border-radius:0;       
    order:1;
    padding-bottom:20px;
}

/*section2et3*/
.s2s3
{
    flex-direction: column; 
    width:100%;
    margin:0;
}

/*section4*/

h4
{
    margin-left:25px;

}
.section4 figcaption
{
    padding:23px;
}
.figure figure img
{
    height:130px;
    object-fit: cover;  
    width: 100%;   
}
.figure figure
{
    width:90%;
    margin: auto;
    margin-bottom:30px;
    height:200px;
}
.figure
{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section4
{
    width:100%;    
    display:flex;
    flex-direction:column;
}
.image6, .image3
{
    margin:auto;
    width:100%
}
.image3
{
    padding-top:0;
}




/*pied de page*/
footer
{
    flex-direction:column;
    width:100%;    
}
footer div
{
    margin:0 0 10px 0;
}
.propos
{
    margin-top:0;
}
}





