/* élement principaux de la page */
@font-face
{
    font-family: 'Raleway';
    src: url('Raleway/raleway-v18-latin-regular.ttf');
    src: url('Raleway/raleway-v18-latin-regular.svg'),
         url('Raleway/raleway-v18-latin-regular.eot'),
         url('Raleway/raleway-v18-latin-regular.woff'),
         url('Raleway/raleway-v18-latin-regular.woff2');
    font-weight: normal;
    font-style:normal;
}

body
{
    background-color: #F2F2F2;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-size: medium;
    min-width: 320px;
    display:block;
    margin:45px;  
}



/* En-tête */

#liens
{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    
}
#liens nav a
{
    margin-left: 50px;
    text-decoration: none;
    color:black;    
}
.inscription a
{
    color:#0065FC;
    font-weight:bold;
    margin-left: 50px;
    text-decoration: none;
}
#liens nav a:hover, #liens nav a:focus, #liens nav a:active
{
    color:#0065FC;
    border-top: 4px #0065FC solid;
    padding-top:42px;
} 

/*recherches*/
.section1
{
    margin-top: 30px;
}

h1
{
    font-weight:bold;
    font-size: large;
}
#legende
{
    font-size:small;
}
.search
{
    border:#F2F2F2;
    font-size:medium;
    margin-left:20px;
    font-weight:bold;
}


.bouton
{
    background-color: #0065FC;
    color:#DEEBFF;
    width: 133px;
    height:50px;
    font-size:medium;
    font-weight:bold;
    border:1px #0065FC solid;
    border-radius:0 15px 15px 0;
}

.filtres
{
    
    display:flex;
       
}
.filtres p
{
    margin-right:40px; 
    font-weight:bold;
    border: 2px #d9d9d9 solid;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
}
.filtres i
{
    Margin-right:18px;
    color: #0065FC;
    border: 1px #d9d9d9 solid;
    border-radius:100%;
    padding:20px;
    background-color: #d9d9d9;
}
#titre
{
    border:none;
}

#liens p:hover, #liens p:focus
{
    background-color: #0065FC;
    color: #DEEBFF;
}
.filtres i:hover, .filtres i:focus
{
    color:#DEEBFF;
}

