/* élement principaux de la page */
@font-face
{
    font-family: 'Raleway';
    src: url('Raleway/raleway-v18-latin-regular.ttf');
    src: url('Raleway/raleway-v18-latin-regular.svg'),
         url('Raleway/raleway-v18-latin-regular.eot'),
         url('Raleway/raleway-v18-latin-regular.woff'),
         url('Raleway/raleway-v18-latin-regular.woff2');
    font-weight: normal;
    font-style:normal;
}


body
{
    background-color: #F2F2F2;
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-size: medium;
    width:100%;
    margin:0;  
}

*
{
    box-sizing: border-box;
}

/* En-tête */
header
{
    width: 96%;
    margin:45px 2% 20px 2%;
}
.menu
{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;  
}
.menu nav a
{
    margin-left: 50px;
    text-decoration: none;
    color:black;    
}
.menu nav a:hover
{
    color:#0065FC;
    border-top: 4px #0065FC solid;
    padding-top:43px;
} 

.inscription a
{
    color:#0065FC;
    font-weight:bold;
    margin-left: 50px;
    text-decoration: none;
}
.active
{
    color:#0065FC !important;
    border-top: 4px #0065FC solid;
    padding-top:43px;
}


/*Section 1*/

.section1
{
    width: 96%;
    margin:2%;
}
h1
{
    font-weight:bold;
    font-size: large;
}

.legende
{
    font-size:small;
}

.search
{
    border:#F2F2F2;
    font-size:medium;
    margin-left:20px;
    font-weight:bold;    
    outline:none;
}
.search::placeholder
{
    color:black;
}


.bouton
{
    background-color: #0065FC;
    color:#DEEBFF;
    width: 133px;
    height:50px;
    font-size:medium;
    font-weight:bold;
    border:1px #0065FC solid;
    border-radius:0 15px 15px 0;
    outline:none;
    cursor: pointer;
}

.filtres
{    
    display:flex;   
                   
}
.filtres p
{
    margin-top:40px;
    font-size:medium;
    font-weight:bold;
}
.filtres ul
{
    display: flex;
    width:100%;  

}
.filtres li
{
    display:flex;
    font-weight:bold;
    border: 2px #d9d9d9 solid;
    border-radius: 50px;
    align-items:center;
    padding-right:15px;
    cursor: pointer;
    margin-right:30px;
    margin-top: 15px;
    height:40px;
}
.filtres li:first-child
{
    justify-self:start;    
}
.filtres li:last-child
{
    justify-self:center;
}
.filtres i
{
    display:block;
    height: 40px;
    width:40px;
    Margin-right:5px;    
    color: #0065FC;
    border-radius:100%;
    padding:10px;
    background-color:#deebff;
    position: relative;    
    left:-2px;
}
.filtres li:hover, .filtres li:focus
{
    color: #0065FC;
    background-color: #DEEBFF;
}

.info p
{
    font-size:small;
}
.info i
{
    color:#0065FC;   
    border-radius: 100%;
    border:2px #DEEBFF solid;
    padding:5px 8px 5px 8px;
    margin-right: 5px;
}

/*Section 2 et 3 */

.s2s3
{
    display: flex;
    margin:auto;
    width:96%;   
}

/* Section 2 */
.section2
{
    display:block;  
}
.figheb
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
}

h2
{
    font-weight:bold;
    font-size: large;    
    margin:60px 0 5px 20px;
}

.domaine
{
    font-size: medium !important;
    font-weight: bold !important;
    padding-top:20px;
}

.section2 figcaption
{
    font-size:small;
    line-height: 20px;
    position:absolute;       
    background-color:#F2F2F2; 
    box-sizing: border-box;
    width: 100%;    
    height:40%;
    padding:10px;
    border-radius: 0 0 20px 20px;
}
.section2 i
{
    color: #0065FC;
}

.vide i
{
    color:#d9d9d9 !important;
}

.section2 figure img
{ 
    height:60%;
    width:100%;
    border-radius: 20px 20px 0 0; 
    object-fit:cover; 
    box-sizing: border-box; 
    
}
.section2 figure
{
    position:relative; 
    margin:15px;
    display:block;
    width:250px;
    height:200px;    
    border-radius: 20px;
    border:4px #F2F2F2 solid;
    -webkit-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    -moz-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
}  
.afficher
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: medium;
    display:block;
    margin:30px 0 80px 20px;    
}
.section2 a:hover
{
    color:#0065FC;    
}
.section2 a
{
    color:black;
}

/* Section 3 */

h3
{
    font-weight:bold;
    font-size: large; 
    margin-left: 40px; 
    margin-top:65px;         
}

.domaine2
{
    font-size: medium !important;
    font-weight: bold !important;
    padding-top:20px;
}

.section3
{  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display:block;  
}   

.section3 figure img
{
    width:40%;
    height:100%;
    border-radius: 20px 0 0 20px; 
    object-fit:cover;  
}
.section3 figcaption
{
    font-size:small;
    line-height: auto;
    position:absolute;
    left:40%;
    bottom:0; 
    line-height: 20px; 
    background-color:#F2F2F2; 
    box-sizing: border-box;
    width: 60%;    
    height:100%;
    padding:15px;
    border-radius: 0 20px 20px 0;
}
.section3 figure
{
    position:relative;    
    display:block;
    border-radius: 20px;
    width:350px;
    height:145px;
    border:4px #F2F2F2 solid;
    -webkit-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    -moz-box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
    box-shadow: 0px 4px 6px 3px rgba(209,209,209,1);
}

.section3 .stars i
{
    color: #0065FC;        
}
.section3 .stars
{
    
}

#graph
{
    margin-left:150px;
}
.section3 a:hover
{
    color:#0065FC;    
}
.section3 a
{
    color:black;
}

/* Section 4 */

h4
{
    margin:45px 0 10px 20px;
    font-size:large;
    font-weight: bold;
}

.figure
{
    display: flex; 
    flex-wrap: wrap;               
}
.figure figure
{
    margin:18px;
    border-radius:20px 20px 0 0;
}
.figure img
{
    border-radius:20px 20px 0 0;    
}
.figure a
{
    text-decoration: none;
    color:black;
    font-size: medium;
    font-weight: bold;
}
.figure figcaption
{
    margin-top:15px;
    margin-left:20px;
}
.figure a:hover
{
    font-size:large;    
}


.block1 figure 
{
    height:272px;    
}
.block2 figure
{
    height:223px;
}


.image1 img, .image4 img
{
    width:300px;
    height:390px;
    object-fit: cover;    
}
.image2 img
{
    width:300px;
    height:190px;
    object-fit: cover;
}
.image3 img
{
    width:300px;
    height:100px;
    object-fit:cover;
}
.image5 img
{
    width:300px;
    height:140px;
    object-fit:cover;
}
.image6 img
{
    width:300px;
    height:150px;
    object-fit:cover;
}

/*footer*/

footer 
{
    display: flex;
    flex-wrap: wrap;          
}
footer div
{
    display: flex;
    flex-direction: column;  
    margin:20px 200px 20px 20px; 
}

footer a
{
    color:black;
    text-decoration: none;
    font-size: medium;
}
footer ul
{
    padding:0;
}
footer li
{
    list-style:none;
    margin-bottom:10px;
}
.title
{
    font-weight: bold;   
    margin:0;
}
footer a:hover
{
    color:#0065FC;
}    






